﻿@model IEnumerable<ReaderMVC>

<h1>List of readers data</h1>

@if (Model.Count() == 0)
{
    <p>No datain the database.</p>
}
else
{
    <table border="1">
        <tr>
            <th>Name</th>
            <th>Datas</th>
            <th>Delete</th>
            <th>Modify</th>
        </tr>
        @foreach (var reader in Model)
        {
            <tr>
                <td>@reader.Name</td>
                <td>@Html.ActionLink("[Show]", "Datas", new { Id = reader.PersonId })</td>
                <td>@Html.ActionLink("[Delete]", "Remove", new { Id = reader.PersonId })</td>
                <td>@Html.ActionLink("[Edit]", "Edit", new { Id = reader.PersonId })</td>
            </tr>
        }
    </table>
}