﻿@model ReaderListVM
@{
    ViewData["Title"] = "Crud Index";
}

<h1>BookWorm Library</h1>

<p style="color:red">@TempData["editResult"]</p>
@await Html.PartialAsync("ReaderEdit", Model.EditedReader)
@await Html.PartialAsync("ReaderList", Model.ReaderList)