﻿@model ReaderMVC

<h1>Edit the address or the email of the reader</h1>

@using (Html.BeginForm("Edit", "Reader"))
{
    @Html.ValidationSummary()
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.PersonId)
    @Html.Hidden("editAction", ViewData["editAction"].ToString())

    <div class="editor-field" style="font-size:46px;color:green">@Model.Name</div>
    <div class="editor-label">@Html.LabelFor(m => m.Name) (Existing name can't be changed.)</div>
    <div class="editor-field">@Html.EditorFor(m => m.Name)</div>
    <div class="editor-label">@Html.LabelFor(m => m.Address)</div>
    <div class="editor-field">@Html.EditorFor(m => m.Address)</div>
    <div class="editor-label">@Html.LabelFor(m => m.Email)</div>
    <div class="editor-field">@Html.EditorFor(m => m.Email)</div>

    <input type="submit" value="SEND" />
}